:root {
    --chrome-emoji-size: 2em;
    --firefox-emoji-size: 1.4em;

    color-scheme: light dark;
    --text-color: light-dark(black, #f3f3f3);
    --background-color: light-dark(white, #111);
    --column-bg-color: light-dark(#f0f0f0, #2f2f2f);
    --column-border-color: light-dark(#d6d6d6, #363636);
    --note-text-color: light-dark(#363636, #e6e6e6);
    --tab-item-bg-color: light-dark(white, #111);
    --subgroup-bg-color: light-dark(#ddd, #4c4c4c);
    --color-menu-bg-color: light-dark(#e9e9e9, #2e2e2e);
    --menu-option-border-color: light-dark(#555, #ddd);
    --selected-color: light-dark(#007BFF, #aed5ff);

    --tab-default: light-dark(white, #111);
    --tab-pink: light-dark(#ffc4c4, #ad6666);
    --tab-yellow: light-dark(#fffdc4, #8f8f00);
    --tab-blue: light-dark(#b0e5ff, #617d9b);
    --tab-purple: light-dark(#ebc4ff, #88679e);
}
.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}
body {
    font-family: 'Roboto';
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 18px;
}
.hidden {
    display: none;
}
.main-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
    .main-header-container h1 {
        margin-right: 16px;
    }
    .main-header-container button {
        display: flex;
        align-items: center;
    }
    #add-column {
        border: 1px solid #999;
        border-radius: 2px;
        opacity: 0.8;
    }
        #add-column:hover {
            opacity: 1;
        }
    .settings-button {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 8px;
    }
        .settings-button svg {
            opacity: 0.6;
        }
            .settings-button:hover svg {
                opacity: 0.8;
            }
        .notification-circle {
            position: absolute;
            top: -2px;
            right: -2px;
            width: 8px;
            height: 8px;
            background-color: red;
            border-radius: 50%;
            z-index: 10;
        }
            .inline-notification {
                position: relative;
                top: 0;
                right: 0;
                margin-right: 2px;
                display: inline-block;
            }

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
}
.sidebar-header h2 {
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
}

#sidebar.collapsed .sidebar-header h2 {
    display: none;
}
#sidebar.collapsed .minimize-sidebar {
    display: none;
}
#sidebar:not(.collapsed) .maximize-sidebar {
    display: none;
}

.minimize-sidebar, .maximize-sidebar {
    opacity: 0.3;
}
    .minimize-sidebar:hover, .maximize-sidebar:hover {
        opacity: 0.6;
    }

#sidebar {
    min-width: 200px;
    width: 20vw;
    height: calc(100vh - 32px);
    background-color: var(--column-bg-color);
    padding: 16px;
    margin: 12px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease;
}
    #sidebar.collapsed {
        min-width: 80px;
        width: 80px;
        padding-right: 0px;
        overflow: hidden;
    }
    #sidebar.no-transition {
        transition: none;
    }

#main-content {
    width: 75%;
    padding: 20px;
    flex-grow: 1;
}
    #main-content.expanded {
        width: 100%;
    }

#open-tabs-list {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: calc(100vh - 108px);
}

#tab-list a {
    text-decoration: none;
    font-size: 18px;
}
#tab-list img, #open-tabs-list img {
    vertical-align: middle;
}

#tab-list-container {
    display: flex;
}

.note-display {
    margin-top: 5px;
    font-size: 14px;
    color: var(--note-text-color);
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    user-select: none;
    -webkit-user-select: none;
}
    .note-display.hidden {
        display: none;
    }
.date-display {
    margin-top: 5px;
    color: white;
    width: fit-content;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
}
.tab-note {
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none; 
    box-sizing: border-box;
    min-height: 48px;
    max-height: 112px;
}
    .tab-note::-webkit-scrollbar-horizontal {
        display: none;
    }

.tab-item {
    background-color: var(--tab-item-bg-color);
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid transparent; 
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}
    .tab-item.collapsed {
        max-width: 48px;
    }
    .tab-item.subgroup-item {
        background-color: var(--subgroup-bg-color);
        padding: 4px 10px;
    }
    .tab-item.dragging {
        opacity: 0.5;
    }
    .tab-item.selected, .tab-item.targeted {
        border-color: var(--selected-color);
    }
    .tab-item.tab-default {
        background-color: var(--tab-default);
    }
    .tab-item.tab-pink {
        background-color: var(--tab-pink);
    }
    .tab-item.tab-yellow {
        background-color: var(--tab-yellow);
    }
    .tab-item.tab-blue {
        background-color: var(--tab-blue);
    }
    .tab-item.tab-purple {
        background-color: var(--tab-purple);
    }

.tab-title {
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    .tab-info-left {
        width: 36px;
        margin-right: 8px;
        cursor: pointer;
    }
        .tab-info-left img {
            width: 24px;
            height: 24px;
        }
    .tab-info-right {
        width: calc(80% - 32px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tab-actions, .menu-container {
        width: 28px;
        margin-left: auto;
        position: relative;

    }
        #sidebar.collapsed .tab-actions {
            display: none;
        }
        .tab-actions button, .more-options {
            background: none;
            border: none;
            cursor: pointer;
            opacity: 0.6;
        }
            .tab-actions button:hover, .more-options:hover {
                opacity: 0.9;
            }
        .menu-item-icon {
            width: 16px;
            height: 16px;
        }
        .menu-container.vertical {
            margin-left: 0;
        }
        .more-options.vertical {
            transform: rotate(90deg);
        }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
    .title-group {
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    .title-group.vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .minimize-column,
    .maximize-column {
        margin-right: auto;
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0.3;
        width: 24px;
        height: 24px;
    }
        .minimize-column:hover,
        .maximize-column:hover {
            opacity: 0.6;
        }
        .maximize-column {
            display: none;
        }

    .header-container.vertical {
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        gap: 16px;
    }
    
#space-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
    #space-div {
        flex-shrink: 0;
        width: 10px;
        height: 8px;
    }

#columns-container {
    display: flex;
    gap: 10px;
    overflow: auto;
}
.column {
    border: 1px solid var(--column-border-color);
    border-radius: 5px;
    padding: 10px;
    min-width: 240px;
    width: 20vw;
    height: calc(100vh - 152px);
    background-color: var(--column-bg-color);
    flex-shrink: 0;
    margin-right: 10px;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}
    .column:not(.dragging) {
        transition: all 0.3s ease;
    }
    .new-column-indicator {
        background-color: rgba(0, 255, 0, 0.2);
        border-radius: 5px;
        min-width: 240px;
        width: 20vw;
        height: calc(100vh - 152px);
        flex-shrink: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
        .new-column-indicator.new-column-indicator-active {
            background-color: rgba(0, 255, 0, 0.5);
        }
    .emoji-picker-on-top {
        position: absolute;
        z-index: 9999;
    }
    .emoji-button {
        background: none;
        border: none;
        font-size: var(--firefox-emoji-size);
        cursor: pointer;
    }
        .emoji-button:hover {
            transform: scale(1.1);
        }
    .column-title-input {
        height: 16px;
        width: 100%;
        display: none;
    }
    .column-title-text {
        display: inline;
        user-select: none;
        -webkit-user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 4px;
    }
        .column-title-text.vertical-text {
            max-height: calc(80vh - 225px);
        }
    .column li {
        border: 2px solid transparent; 
        border-radius: 5px;
    }
    .column li.selected {
        border-color: var(--selected-color); 
    }
    .column.dragging {
        opacity: 0.5;
    }

    .column.minimized {
        height: calc(100vh - 140px);
        min-width: 48px;
        width: 48px;
        padding: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.drag-handle {
    cursor: grab;
}

.drop-indicator {
    position: absolute;
    height: 2px;
    background-color: var(--selected-color);
    pointer-events: none;
    z-index: 1000;
}
.drop-indicator-container {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.close-button {
    cursor: pointer;
    opacity: 0.5;
}
    .close-button:hover {
        opacity: 0.8;
    }

.options-menu {
    position: absolute;
    background: var(--background-color);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.menu-option {
    position: relative;
    padding: 2px 4px;
    border-radius: 2px;
    border: 1px solid var(--menu-option-border-color);
}
.menu-option:hover {
    background-color: var(--column-border-color);
}

.color-menu {
    position: absolute;
    background: var(--color-menu-bg-color);
    border: 1px solid var(--column-border-color);
    padding: 5px;
    display: flex;
    gap: 5px;
    z-index: 1001;
}
.color-option {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
    .color-option.tab-default {
        background-color: var(--tab-default);
    }
    .color-option.tab-pink {
        background-color: var(--tab-pink);
    }
    .color-option.tab-yellow {
        background-color: var(--tab-yellow);
    }
    .color-option.tab-blue {
        background-color: var(--tab-blue);
    }
    .color-option.tab-purple {
        background-color: var(--tab-purple);
    }

#deletion-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 25%;
    background-color: rgba(255, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 5px;
}
    #deletion-area.deletion-area-active {
        background-color: rgba(255, 0, 0, 0.5);
    }

.delete-icon, .new-column-icon {
    opacity: 0.5;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subgroup-favicon {
    width: 24px;
    height: 24px;
}

.tab-group-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
}

.favicons-container {
    display: flex;
    column-gap: 12px;
    row-gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 4px;
    max-height: 180px;
    overflow-y: auto;
}
    .expand-button {
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0.5;
    }
        .expand-button:hover {
            opacity: 0.8;
        }
    .subgroup-title-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .subgroup-title {
            height: 14px;
        }
        .subgroup-title-text {
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .subgroup-tab-actions {
            display: flex;
        }
    .favicon-wrapper {
        padding: 4px 8px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32px;
        cursor: pointer;
    }
        .favicon-wrapper.tab-default {
            background-color: var(--tab-default);
        }
        .favicon-wrapper.tab-pink {
            background-color: var(--tab-pink);
        }
        .favicon-wrapper.tab-yellow {
            background-color: var(--tab-yellow);
        }
        .favicon-wrapper.tab-blue {
            background-color: var(--tab-blue);
        }
        .favicon-wrapper.tab-purple {
            background-color: var(--tab-purple);
        }
    .favicon-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 4px;
    }
    .expanded-tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin: 4px 0px;
    }
    .expanded-tabs .tab-item {
        margin: 0;
    }